.Pane {
    background-color: #F6F7F9 !important;
}

.AddRideTitleWrapper {
    background-color: #ffffff;
    border-left: solid 1px #CBCCCE;
    border-right: solid 1px #CBCCCE;
    border-bottom: solid 1px #CBCCCE;
    -webkit-box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
    -moz-box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
    box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
}

.AddFormPane,
.ExtraDetailsPane {
    padding: 0 3% 0 0 !important;
}

.AddRideExtraDetailsPane {
    padding: 0 5% !important;
    text-align: center;
}

    .AddRideExtraDetailsPane h1 {
        color: #000000;
        font-size: 180%;
        line-height: 85%;
        margin: 5% auto;
    }

.ExtraDetailsText {
    border: 1px solid #000000;
    direction: rtl;
    font-size: 16px;
    height: 185px;
    margin: 0;
    padding: 0 2%;
    resize: none;
    border-radius: 0;
    box-shadow: none;
    width: 95%;
}

.CompanyNameTitle {
    margin: 5% 0 3.5%;
    font-size: 25px;
    color: #000000;
}

.AddFormPane div {
    margin: 0 0 10px 0;
}

    .AddFormPane div select {
        border: 1px solid rgb(108, 108, 108);
        float: right;
        height: 29px;
        width: 62%;
        margin: 0 0 4%;
    }

.AddFormPane label,
.AddFormPane input {
    float: right;
	border-color: rgb(108, 108, 108);
}

.ConfirmRideBtn {
background-color: #4c66a3;
cursor: pointer;
height: 39px;
margin: 2.3% 0 0;
color: #ffffff;
}

.AddRideTitleWrapper .ui-input-search:after {
  right: 35%;
  margin-top: 2px;
  margin-left: 0px;
}
.AddRideTitleWrapper .ui-input-search input {
  width: 60%;
  margin-top: -9.5%;
  margin-right: 30%;
}

.AddRideTitleWrapper .ui-listview .ui-li-divider {
  padding: .5em 28px;
  background-color: rgb(73, 156, 74);
  text-align: right;
  width: 100%;
  color: #fff;
}

.ui-shadow {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.AddRideTitleWrapper .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
  left: 8px;
  top: 8px;
  right: inherit;
}

.AddRideTitleWrapper .ui-listview li a.ui-btn {
  text-align: right;
  direction: rtl;
  width: 100%;
  border-color: #C8C8C8;
  color: #393939;
}

.AddRideTitleWrapper .filterable {
  position: relative;
  top: -15px;
  width: 50.3%;
  box-shadow: 0 0 0;
  right: 177px;
}

.AddRideTitleWrapper .ui-grid-a {
  min-height: 488px;
}

.AddRideTitleWrapper .ui-listview li {

} 
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .AddFormPane div select {
        height: 20px;
        width: 64%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1190px) {
    .AddFormPane div select {
        height: 20px;
        width: 64%;
    }
}

@media only screen and (min-width: 1190px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1600px) and (max-width: 1680px) {
}

@media only screen and (min-width: 1680px) and (max-width: 1900px) {
}

@media only screen and (min-width: 1900px) {
}

/*! jQuery-Mobile-DateBox  |2015-06-09T15:37:47Z | (c) 2010,  2015 JTSage | https://github.com/jtsage/jquery-mobile-datebox/blob/master/LICENSE.txt */

.ui-datebox-container{width:290px;-webkit-transform:translate3d(0,0,0)}.ui-popup-container .ui-datebox-gridrow{display:table;margin-left:auto;margin-right:auto}.ui-datebox-collapse{text-align:center}.ui-datebox-collapse .ui-controlgroup-controls a{max-width:40%}.ui-datebox-controls.ui-controlgroup-vertical{margin-bottom:5px;margin-top:5px}div.ui-datebox-inline.ui-datebox-inline-has-input{float:none;clear:both;position:relative;top:5px}.ui-field-contain div.ui-datebox-container.ui-datebox-inline{margin-right:auto;margin-left:auto}div.ui-datebox-container.ui-datebox-inline{width:290px}.ui-datebox-inline .ui-controlgroup-controls{float:none;margin-left:auto;margin-right:auto}.ui-datebox-pickicon{display:inline-block;width:216px}.ui-datebox-gridheader{text-align:center}.ui-datebox-gridheader .ui-btn-inline{margin-right:0}.ui-datebox-gridheader h4{text-align:center;display:inline-block;margin-top:10px;margin-bottom:10px;zoom:1}.ui-datebox-grid{clear:both;margin-bottom:5px}.ui-datebox-inline .ui-datebox-gridrow .ui-controlgroup-controls{width:100%;text-align:center}.ui-datebox-inline .ui-datebox-gridrow .ui-controlgroup-controls .ui-btn{float:none;clear:both}.ui-datebox-gridrow{margin-left:auto;margin-right:auto;display:table;margin-bottom:-7px}.ui-datebox-gridrow-last{margin-bottom:0}.ui-datebox-inline .ui-controlgroup.ui-datebox-gridrow-last{margin-bottom:5px}.ui-datebox-griddate{width:36px;height:30px;line-height:30px;padding:0;display:inline-block;vertical-align:middle;text-align:center;font-weight:700;font-size:12px;zoom:1}.ui-datebox-griddate-week{width:31px;height:30px;line-height:30px;display:inline-block;vertical-align:middle;text-align:center;font-weight:700;font-size:12px;zoom:1}.ui-datebox-gridrow div.ui-datebox-griddate-empty{border:1px solid transparent;color:#888}.ui-datebox-griddate.ui-datebox-griddate-label{border:1px solid transparent;height:15px;line-height:15px}.ui-datebox-gridplus{float:right}.ui-datebox-gridminus,.ui-datebox-gridplus-rtl{float:left}.ui-datebox-gridminus-rtl{float:right}.ui-datebox-dboxin div input{text-align:center}.ui-datebox-dboxin div{margin:inherit;margin-top:0;margin-bottom:0}.ui-datebox-dboxlab div label{text-align:center}div.ui-datebox-cbut.ui-btn.ui-corner-all.ui-icon-plus{border-bottom-right-radius:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;height:40px}div.ui-datebox-cbut.ui-btn.ui-corner-all.ui-icon-minus{border-top-right-radius:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-top-left-radius:0;height:40px}.ui-datebox-fliplab,.ui-datebox-header h4{text-align:center}.ui-datebox-flipcenter{width:260px;height:40px;border:1px solid #EEE;margin-right:auto;margin-left:auto;position:relative}.ui-datebox-flipcontent{text-align:center;height:125px;margin-bottom:-40px}.ui-datebox-flipcontent div{margin-left:3px;margin-right:3px;width:77px;height:120px;display:inline-block;text-align:center;zoom:1;overflow:hidden}.ui-datebox-flipcontentd div{width:60px}.ui-datebox-flipcontent ul{list-style-type:none;display:inline;border:1px solid transparent}.ui-datebox-flipcontent li{height:30px}.ui-datebox-flipcontent li span{margin-top:7px;display:block}.ui-datebox-slide{width:290px;margin-left:auto;margin-right:auto}.ui-datebox-sliderow-int{display:inline-block;white-space:nowrap}.ui-datebox-sliderow{margin-bottom:5px;text-align:center;overflow:hidden;width:290px}.ui-datebox-slide .ui-btn{margin:0;padding:0 1em}.ui-datebox-slidebox{text-align:center;display:inline-block;zoom:1;vertical-align:middle;font-weight:700}.ui-datebox-slideyear{width:84px;line-height:30px;height:30px;font-size:14px}.ui-datebox-slidemonth{width:51px;line-height:30px;height:30px;font-size:12px}.ui-datebox-slideday{width:32px;line-height:20px;height:38px;font-size:14px}.ui-datebox-slidehour,.ui-datebox-slidemins{width:32px;line-height:22px;height:24px;font-size:14px}.ui-datebox-slidewday{font-size:10px;font-weight:400}span.ui-datebox-nopad{margin:0}.ui-datebox-repad{margin:.5em .4375em}.ui-grid-e>.ui-block-a,.ui-grid-e>.ui-block-b,.ui-grid-e>.ui-block-c,.ui-grid-e>.ui-block-d,.ui-grid-e>.ui-block-e,.ui-grid-e>.ui-block-f{width:16.65%}.ui-grid-e{overflow:hidden}.ui-block-f{margin:0;padding:0;border:0;float:left;min-height:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
