<div class="InnerRidesDetailsPane">
    <div class="TravelWrapper">
        <h1 class="TravelBoardTitle">לוח נסיעות</h1>
        <a href="javascript://" style="margin: 0 3% 0 0; line-height: 39px; color:white;" onclick="openFaviArea();">
            אזורים מועדפים
        </a>
        <div class="DatePane">
            <div class="PickDateImg">
                <img alt="" src="https://s3-us-west-2.amazonaws.com/busnet/website/DateIcon.jpg" />
            </div>
            <input type="text" id="dateInput" class="DateInput" data-role="none" onchange="filter()" />
            <div class="DateLbl">תאריך</div>
            <select class="sVehicleType" data-role="none" onchange="filter()">
                <option value="">הכל</option>
                <option>אוטובוס</option>
                <option>מונית</option>
                <option>מיניבוס</option>
                <option>וואן</option>
                <option>מיקרובוס</option>
                <option>רכב להסעת נכים</option>
            </select>
            <div class="DateLbl">רכב</div>
			<div id="cityFilter">
            <input class="filterable-input InputTxt" data-type="search" type="text" class="filterable-input" id="area" placeholder="חפש עיר..." />
            <ul ng-key="citylist" class="filterable" data-role="listview" data-filter="true" data-input="#area" data-filter-reveal="true" data-inset="true">
			</div>
            </ul>
        </div>
    </div>
    <div class="RidesPane">
        <table class="Rides_T" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th>מס נסיעה</th>
                <th>סוג</th>
                <th>תאריך</th>
                <th>שעה</th>
                <th>חברה</th>
                <th>סוג רכב</th>
                <th>מוצא</th>
                <th>החזרה</th>
                <th>יעד</th>
                <th>התקשרות</th>
            </tr>
            <% if @res :%>
            <% for ride,index in @res : %>
            <tr id="rideRow_<%- ride._id %>">
                <td><%- ride._id %></td>
                <td>
                    <% if ride.type == "2" : %>
                    קבלנות משנה
                    <% else : %>
                    אוטובוס פנוי
                    <% end %>
                </td>
                <td id="boarddate"><%- ride.aviliableDate %></td>
                <td id="boardhour"><%- ride.aviliableHour %></td>
                <td>
                    <div class="CompanyNameClick" onclick="showCompanyDtl('<%- ride.username %>');">
                        <%- ride.company %>
                    </div>
                </td>
                <td><%- ride.vehicleNumber %> <%- ride.vehicleType %> </td>
                <td><%- ride.area %></td>
                <td><%- ride.returnDate %></td>
                <td><%- ride.destination %></td>
                <td>
                    <div id="Ball<%- ride._id %>" class="RedBall"></div>
                    <div id="BidRide<%- ride._id %>" class="BidRideBtn" onclick="userAskRide('<%- ride._id %>');">
                        הזמן
                    </div>
                    <div id="CloseBidRideBtn<%- ride._id %>" class="CloseBidRideBtn" onclick="userAskRide('<%- ride._id %>');">סגור</div>
                </td>
            </tr>
            <tr style="display:none;">
                <td colspan="10"></td>
            </tr>
            <tr class="ChatRow hpChatRow" id="ChatRow_<%- ride._id %>">
                <td align="right" valign="top" colspan="8" class="ChatWinTD">
                    <div class="ChatWin" id="ChatWin_<%- ride._id %>"></div>
                    <textarea class="ChatMsg" data-role="none" id="chatMsg_<%- ride._id %>" onkeyup="sendChatOnEnter(event, '<%- ride._id %>', '<%- ride.username %>')" onfocus="toggleChatMsg('<%- ride._id %>')" onblur="toggleChatMsg('<%- ride._id %>')">כתוב הודעה...</textarea>
                    <div class="ChatSend" onclick="sendChat('<%- ride._id %>', '<%- ride.username %>')">
                        שלח הודעה
                    </div>
                </td>
                <td align="center" valign="top" class="MoreDetailsTD" colspan="2">
                    <span class="MoreDetailsLbl">פרטים נוספים:</span>
                    <br />
                    <div style="height:100px;padding: 0 20px;max-width: 228px;word-break: break-word;text-overflow: ellipsis;overflow-y: scroll;max-height: 100px;margin-top: -15px;margin-bottom: 15px">
                        <%- ride.extraDetails %>
                    </div>
                    <div class="aprovedisaprove"  id="approveDiv_<%- ride._id %>" style="<%- 'display:none;' if not ride.price %>">
                        <% if ride.type != "2" : %>
                        מחיר מוסכם:
                        <span style="color: #BF291B;" id="price_<%- ride._id %>"><%- ride.price %> ש"ח</span>
                        <span id="approveMsg_<%- ride._id %>"></span>

                        <div class="ApproveRideBtn" style="width: 51%;margin-left: -2%;line-height: 2.1;background-color: #bf291b;font-size: 110%;" id="approveBtn_<%- ride._id %>" onclick="approveRideStatus('<%- ride._id %>', '<%- ride.username %>', true)">אישור עיסקה</div>
                        <div class="ApproveRideBtn" style="width: 49%;line-height: 2.1;margin-top: 2.3%;font-size: 110%;"  id="disapproveBtn_<%- ride._id %>" onclick="approveRideStatus('<%- ride._id %>', '<%- ride.username %>', false)">סרב למחיר</div>
                        
                        <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
            <% end %>
        </table>
    </div>
</div>

